
*{  
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #f5efe4;
  color: #3b2418;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}


